body {
    font-family: 'Arvo', serif;
    background: #a2cefc;
}

.wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
    color: #002b58;
}

h2 {
    font-size: 18px;
    color: white;
    text-align: center;
}

.buttons-div {
    margin-bottom: 20px;
}

#game-form, #favorite-gifs, .container {
    text-align: center;
}

button, img {
    cursor: pointer;
    margin: 1px;
}

#title {
    cursor: pointer;
}

.gif-and-rating {
    float: left;
}

.rating-text {
    color: #dae7f8;
}

.gif {
    max-height: 150px;
    margin: 5px;
}

.fav-button { 
    margin-left: 10px;
}

.favorite-container {
    border: 5px solid #ccb800;
    background: rgb(255, 253, 238);
}


@media screen and (max-width: 980px) {

}



@media screen and (max-width: 768px) {
    .gif {
        max-width: 700px;
        max-height: 700px;
    }
}



@media screen and (max-width: 640px) {
      .gif {
          max-width: 500px;
          max-height: 500px;
      }

      .gif-and-rating {
        text-align: center;
    }

    .generated-gifs {
        text-align: center;
    }
}